<html>
<head>
<title>Login</title>
<style>
h1{
	text-align:center;
}
div{
	text-align:center;
}
</style>
</head>
<body>
<div>
    <h1></h1>
    <div>
	<form action="/loginstudent" method="POST">
	<br>
    	Student ID <input type="text" name="studid" placeholder="Student ID" required="required" />
	<br>
  <br>
        Password <input type="password" name="pwd" placeholder="Password" required="required" />
  <br>
  <br>
  {{msg}}
  <br>
  <br>
        <button type="submit" name="submit">Login</button>

</div>
</body>
</html>
