<html>
<head>
<title>Register</title>
<style>
h1{
	text-align:center;
}
div{
	text-align:center;
}
</style>
</head>
<body>
<div>
    <h1>Register</h1>
    <div>
			<form action="/registerfaculty" method="POST">
    	  Faculty ID<input type="text" name="facid" placeholder="Faculty ID" required="required" />
				<br>
        Password<input type="password" name="pwd" placeholder="Password" required="required" />
				<br>
				Class<select name="clas">
									<option value="c1">C1A</option>
									<option value="c2">C1B</option>
									<option value="c3">EB1</option>
									<option value="c4">EC1A</option>
									<option value="c5">EC1B</option>
									<option value="c6">EE1</option>
									<option value="c7">C2A</option>
									<option value="c8">C2B</option>
									<option value="c9">EB2</option>
									<option value="c10">EC2A</option>
									<option value="c11">EC2B</option>
									<option value="c12">EE2</option>
									<option value="c13">C3A</option>
									<option value="c14">C3B</option>
									<option value="c15">EB3</option>
									<option value="c16">EC3A</option>
									<option value="c17">EC3B</option>
									<option value="c18">EE3</option>
									<option value="c19">C4A</option>
									<option value="c20">C4B</option>
									<option value="c21">EB4</option>
									<option value="c22">EC4A</option>
									<option value="c23">EC4B</option>
									<option value="c24">EE4</option>
							</select>
				<br>
        <button type="submit" name="submit">Register</button>
	</form>
</div>
</div>
</body>
</html>
